@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:700');
@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);

* {
  -webkit-user-select: none;  /* Chrome or Safari */
  -moz-user-select: none;     /* FireFox */
  -ms-user-select: none;      /* IE */
  -o-user-select: none;       /* Opera */
  user-select: none;

  background-repeat:no-repeat;
  -moz-background-size:contain;
  background-size:contain;
}
body {
  overflow: hidden;
}
.center {
  text-align:center;
}
.text {
  border:double 1px #000000;
  max-width:600px;
}
.red {
  color: #ff0000;
}
input[type="range"] {
  -webkit-appearance:none;
  background: #eee;
  box-shadow: 0 0 10px #666;
  border-radius: 20px;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: #333;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
input[type="range"]::-webkit-slider-thumb:hover {
  background: #999;
}
input[type="range"]::-webkit-slider-thumb:active {
  background: #fefefe;
}
.no_display {
  display:none;
}
#game {
  position: relative;
  width: 1320px;
  height: 1000px;
}
#character_pallet {
  width: 1176px;
  height: 580px;
  z-index: 9999;
}
.character_pallet_main {
  width: 420px;
  height: 580px;
  left: 0px;
  top: 0px;
  overflow-y: scroll;
  z-index: 30;
}
.character_pallet_main.skeleton {
  opacity: 0.1;
}
.character_pallet_back {
  width: 1176px;
  height: 580px;
  left: 0px;
  top: 0px;
  background-color: #000000;
  opacity: 0.5;
  z-index: 20;
}
#levelup {
  z-index: 20;
}
.levelup_main {
  width: 1050px;
  height: 600px;
  left: 135px;
  top: 7px;
  overflow-y: scroll;
  z-index: 999;
}
.levelup_back {
  width: 1320px;
  height: 600px;
  left: 0px;
  top: 0px;
  background-color: #000000;
  opacity: 0.5;
  z-index: 99;
}
#field_visible {
  z-index: 10;
  overflow: hidden;
  pointer-events: none;
}
#field {
  background-color: #000000;
  bottom: 0;
}
.picked_character {
  position: absolute;
  z-index: 99999999;
  pointer-events: none;
}
#life {
  width: 200px;
  height: 60px;
  color: #ff0000;
  background: #ffc6ff;
  border-bottom: solid 6px #d19cd1;
  border-radius: 9px;
  font-size: 40px;
  text-align: center;
  line-height: 1.4;
}
#floor {
  width: 200px;
  height: 60px;
  color: #000000;
  background: #f4f0ba;
  border-bottom: solid 6px #ceca94;
  border-radius: 9px;
  font-size: 40px;
  text-align: center;
  line-height: 1.4;
}
#jewel {
  padding-right: 5px;
  width: 300px;
  height: 60px;
  color: #5989cf;
  background: #d6f4ba;
  border-bottom: solid 6px #b6d19c;
  border-radius: 9px;
  font-size: 40px;
  text-align: right;
  line-height: 1.4;
}
#exp {
  padding-right: 5px;
  width: 300px;
  height: 60px;
  color: #5989cf;
  background: #c6e4ff;
  border-bottom: solid 6px #aac5de;
  border-radius: 9px;
  font-size: 40px;
  text-align: right;
  line-height: 1.4;
}
#battle_result {
  background-image: url('../img/battle_result.png');
  left: 245px;
  top: 80px;
  width: 800px;
  height: 500px;
  z-index: 9999999999999999;
  background-size:cover;
}
#battle_result > .progress {
  top: 150px;
  left: 10%;
  width: 80%;
  height: 50px;
  background-color: #ff0000;
}
#battle_result > .character {
  left: 50px;
  bottom: 100px;
  width: 150px;
  height: 150px;
  background-image: url('../img/character/1/1.png');
}
#battle_result > .character_type {
  left: 200px;
  bottom: 125px;  
  width: 100px;
  height: 100px;
  background-image: url('../img/sword.png');
}
#battle_result > .enemy_type {
  right: 200px;
  bottom: 125px;
  width: 100px;
  height: 100px;
  background-image: url('../img/shield.png');
}
#battle_result > .enemy {
  right: 50px;
  bottom: 100px;
  width: 150px;
  height: 150px;
  background-image: url('../img/enemy/1/1005010301_001.png');
}
.panel > .field {
  line-height: 20px;
  font-size: 16px;
  text-align: right;
  font-family: 'Roboto Mono', 'Noto Sans JP', monospace;
  font-weight:700;
  color: #000000;
}
.label_hp_split {
  line-height: 12px;
  text-align: center;
  font-size: 16px;
  color: #000000;
}
.panel.panel_character {
  background-image: url('../img/panel/character_with_label.png');
}
.panel.panel_enemy {
  background-image: url('../img/panel/enemy_with_label.png');
}
.panel.panel_presentbox {
  background-image: url('../img/panel/presentbox_with_label.png');
}
.field_attack_physic {
  color: #000000;
}
.field_attack_magic {
  color: #00d8d8;
}
.field.field_hp, .field.field_hp_max {
  font-size: 20px;
}
.panel_character .field.field_hp, .panel_character .field.field_hp_max {
  color: #0000ff;
}
.panel_enemy .field.field_hp, .panel_enemy .field.field_hp_max {
  color: #ff0000;
}
.panel_presentbox .field.field_hp, .panel_presentbox .field.field_hp_max {
  color: #333333;
}
.field.field_level {
  pointer-events: none;
  font-style: oblique;
  display        : inline-block;
  color          : #ffffff;            /* 文字の色 */
  font-size      : 18px;               /* 文字のサイズ */
  letter-spacing : 1px;                /* 文字間 */
  text-shadow    : 
       2px  2px 1px #003366,
      -2px  2px 1px #003366,
       2px -2px 1px #003366,
      -2px -2px 1px #003366,
       2px  0px 1px #003366,
       0px  2px 1px #003366,
      -2px  0px 1px #003366,
       0px -2px 1px #003366;        /* 文字の影 */  
}
.panel > .field.effected {
  color: #0000ff;
}
.infield {
  left:0px;
  top:0px;
  z-index: 9999;
  opacity: 1;
  width: 400px;
  height: 120px;
  text-align: center;
  background-image: url('../img/panel/infield2.png');
  background-size:cover;
}
.comeback {
  left:0px;
  top:0px;
  z-index: 9999;
  opacity: 1;
  width: 400px;
  height: 120px;
  text-align: center;
  background-image: url('../img/panel/comeback2.png');
  background-size:cover;
}
.costover {
  left:0px;
  top:0px;
  z-index: 9999;
  opacity: 1;
  width: 400px;
  height: 120px;
  text-align: center;
  background-image: url('../img/panel/costover.png');
  background-size:cover;
}
#menu,
#character_pallet,#character_pallet > *,
#field_visible, #field, #left_info, #right_info,
#cost_manager, #env,
.panel, .panel > *,
#exp, #life, #floor, #jewel,
#levelup, #levelup > *,
.levelup_panel, .levelup_panel > *,
.levelup_controller, .levelup_controller > *,
#battle_result, #battle_result > *,
#item,
#item_character_picker, #item_character_picker > *,
#item_equipment_editor, #item_equipment_editor > *,
#item_editor, #item_editor > *, 
.item_editor_panel, .item_editor_panel > *, .item_editor_item > *,
.equipment_item_panel, .equipment_item_panel > *,
.item_editor_item_cost > *, .item_editor_item_count > *,
#gacha, #gacha > *,
#cost_manager, #cost_manager > * {
  position: absolute;
  box-sizing: border-box;
}
.levelup_range {
  top:10px;
  left:10px;
}
.levelup_level_button {
  top:70px;
  left:0px;
  background-color: #2626ef;
  color: #fff;
}
.levelup_level_button:hover {
  background-color: #59b1eb;
}
.levelup_level_button:disabled {
  background-color: #222222;
  border-color: #222222;
  color: #666666;
}
.levelup_exp_label {
  top:35px;
  left:10px;
  width:50px;
  height:30px;
  font-size: 20px;
  border: 2px double;
  text-align: center;
  vertical-align: middle;
}
.levelup_exp {
  top:35px;
  right:10px;
  width:120px;
  height:30px;
  font-size: 20px;
  text-align: right;
}
.cell {
  position: absolute;
  box-sizing: border-box;
  pointer-events: none;
}
.cell.cell_collision {
  position: absolute;
  box-sizing: border-box;
  pointer-events: auto;
}
.cell_mother {
}
.cell_collision {
  z-index: 999999999;
}
.cell_background {
  z-index: 9;
  background-size: 100% 100%;
  background-image: url('../img/background/floor.png');
}
.cell_object {
  z-index: 99;
}
.cell_attackable {
  z-index: 999;
}
.cell_movable {
  z-index: 9999;
  background-size: 100% 100%;
}
.cell_knockout {
  z-index: 1001;
  background-size: 100% 100%;
}
.cell_fin {
  z-index: 1000;
  background-size: 100% 100%;
  z-index: 9999999;
}
.cell_snipe {
  z-index: 9999999999;
  background-size: 100% 100%;
}
.cell_animation {
  z-index: 999999;
  background-size: 100% 100%;
}
.cell_receive_turn {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  top: 0px;
  left:0px;
  z-index: 999999999;
}
.cell_hp_bar {
  width: 5px;
  height: 100%;
  right:0px;
  bottom:0px;
  z-index: 99999999;
  background-color: #ff0000;
}
.cell_hp_bar_hp {
  position: absolute;
  background-color: #42f450;
  bottom: 0px;
  right: 0px;
  width: 100%;
}
.popover {
  font-size:20px;
}
#death_penalty_window .modal-content {
  width: 1000px;
}
#death_penalty_window img {
  width: 950px;
}
#cost_manager {
  background-image: url('../img/cost.png');
  background-size: 100% 100%;
  width: 400px;
  height: 120px;
  z-index: 999999999999;
}
.cost_now {
  line-height: 50px;
  font-size: 45px;
  left: 90px;
  width: 260px;
  height: 50px;
  top: 5px;
  text-align: right;
}
.cost_max {
  line-height: 50px;
  font-size: 45px;
  left: 90px;
  width: 260px;
  height: 50px;
  top: 60px;
  text-align: right;
}
#item {
  width: 1000px;
  height: 600px;
}
#item_character_picker {
  top:0px;
  left:0px;
  width: 420px;
  height: 600px;
  overflow-y: scroll;
  overflow-x: hidden;
}
#item_equipment_editor {
  top:0px;
  left:430px;
  width: 400px;
  height: 600px;
}
.equipment_editor_section {
  top: 120px;
  left: 0px;
  width: 80px;
  height: 50px;
  background-image: url('../img/equipment.png');
}
.equipment_editor_remove_all {
  top: 120px;
  right: 0px;
  width: 100px;
  height: 50px;
  background-image: url('../img/equipment_remove_all.png');
}

.equipment_editor_items {
  top: 170px;
  left: 0px;
  width: 400px;
  height: 330px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.equipment_editor_cost_section {
  top:500px;
  left:0px;
  width: 100px;
  height: 100px;
  background-image: url('../img/equipment_cost.png');
}
.equipment_editor_cost_max {
  top:500px;
  left:300px;
  width: 100px;
  height: 100px;
  font-size: 70px;
}
.equipment_editor_cost_now {
  top:500px;
  left:100px;
  width: 100px;
  height: 100px;
  font-size: 70px;
}
.equipment_item_panel {
  width: 350px;
  height: 50px;
  border: 1px solid #000000;
}
.equipment_item_panel_name {
  width: 200px;
  height: 50px;
  border: 1px solid #000000;
  top: 0px;
  left: 0px;
}
.equipment_item_panel_cost {
  width: 150px;
  height: 50px;
  border: 1px solid #000000;
  top: 0px;
  right: 0px;
}
#item_editor {
  top:0px;
  left:840px;
  width: 500px;
  height: 600px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.item_editor_panel {
  width: 500px;
  height: 200px;
}
.item_editor_header {
  top: 0px;
  left: 0px;
  width: 500px;
  height: 50px;
  font-size: 30px;
}
.item_editor_item {
  top: 50px;
  width: 60px;
  height: 100px;
}
.item_editor_item_levelup {
  top: 100px;
  width: 40px;
  height: 50px;
  font-size: 25px;
}
.item_editor_item_header {
  top: 0px;
  left: 0px;
  width: 60px;
  height: 50px;
  border: 1px solid #000000;
  text-align: center;
  font-size: 30px;
}
.item_editor_item_count {
  top: 50px;
  left: 0px;
  width: 60px;
  height: 50px;
  border: 1px solid #000000;
  background-image:linear-gradient(-40deg, #82F584 50%, #fff 50%);
}
.item_editor_item_count_max {
  bottom: 0px;
  right: 0px;
  width: 30px;
  height: 25px;
  font-size: 20px;
  text-align: center;
  vertical-align: middle
}
.item_editor_item_count_now {
  top: 0px;
  left: 0px;
  width: 30px;
  height: 25px;
  font-size: 20px;
  text-align: center;
  vertical-align: middle
}
.item_editor_item_cost {
  top: 100px;
  left: 0px;
  width: 60px;
  height: 40px;
  border: 1px solid #000000;
  text-align: center;
  vertical-align: middle
}
.item_editor_item_cost_header {
  font-size: 10px;
  width: 100%;
  height: 15px;
  top: 0px;
}
.item_editor_item_cost_number {
  font-size: 18px;
  width: 100%;
  height: 25px;
  bottom: 0px;
}

#gacha {
  width: 1320px;
  height: 600px;
}
.gacha_image {
  top: 0px;
  left: 516.5px;
}
.gacha_button {
  top: 450px;
  left: 535px;
}
#menu > .left {
  float: left;
}
#menu > .right {
  float: right;
}
button.menu {
  width: 100px;
  height: 80px;
  padding:0;
  margin:0;
  background:none;
  border:0;
  font-size:0;
  line-height:0;
  overflow:visible;
  cursor:pointer;
}
button.menu.item {
  background-image: url('../img/menu/item.png');
}
button.menu.item:hover, button.menu.item.hover {
  background-image: url('../img/menu/item_push.png');
}
button.menu.item:disabled:not(.hover) {
  background-image: url('../img/menu/item_disabled.png');
}

button.menu.advance {
  background-image: url('../img/menu/advance.png');
}
button.menu.advance:hover, button.menu.advance.hover {
  background-image: url('../img/menu/advance_push.png');
}
button.menu.advance:disabled:not(.hover) {
  background-image: url('../img/menu/advance_disabled.png');
}

button.menu.live {
  background-image: url('../img/menu/live.png');
}
button.menu.live:hover, button.menu.live.hover {
  background-image: url('../img/menu/live_push.png');
}
button.menu.live:disabled:not(.hover) {
  background-image: url('../img/menu/live_disabled.png');
}

button.menu.next_day {
  background-image: url('../img/menu/next_day.png');
}
button.menu.next_day:hover, button.menu.next_day.hover {
  background-image: url('../img/menu/next_day_push.png');
}
button.menu.next_day:disabled:not(.hover) {
  background-image: url('../img/menu/next_day_disabled.png');
}

button.menu.redo {
  background-image: url('../img/menu/redo.png');
}
button.menu.redo:hover, button.menu.redo.hover {
  background-image: url('../img/menu/redo_push.png');
}
button.menu.redo:disabled:not(.hover) {
  background-image: url('../img/menu/redo_disabled.png');
}

button.menu.performance {
  background-image: url('../img/menu/performance.png');
}
button.menu.performance:hover, button.menu.performance.hover {
  background-image: url('../img/menu/performance_push.png');
}
button.menu.performance:disabled:not(.hover) {
  background-image: url('../img/menu/performance_disabled.png');
}

button.menu.training {
  background-image: url('../img/menu/training.png');
}
button.menu.training:hover, button.menu.training.hover {
  background-image: url('../img/menu/training_push.png');
}
button.menu.training:disabled:not(.hover) {
  background-image: url('../img/menu/training_disabled.png');
}

button.menu.turn_end {
  background-image: url('../img/menu/turn_end.png');
}
button.menu.turn_end:hover, button.menu.turn_end.hover {
  background-image: url('../img/menu/turn_end_push.png');
}
button.menu.turn_end:disabled:not(.hover) {
  background-image: url('../img/menu/turn_end_disabled.png');
}

button.menu.gacha {
  background-image: url('../img/menu/gacha.png');
}
button.menu.gacha:hover, button.menu.gacha.hover {
  background-image: url('../img/menu/gacha_push.png');
}
button.menu.gacha:disabled:not(.hover) {
  background-image: url('../img/menu/gacha_disabled.png');
}

button.menu.help {
  background-image: url('../img/menu/help.png');
}
button.menu.help:hover, button.menu.help.hover {
  background-image: url('../img/menu/help_push.png');
}
button.menu.help:disabled:not(.hover) {
  background-image: url('../img/menu/help_disabled.png');
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/*スクロールバーの軌道*/
::-webkit-scrollbar-track {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, .1);
}

/*スクロールバーの動く部分*/
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 50, .5);
  border-radius: 10px;
  box-shadow:0 0 0 1px rgba(255, 255, 255, .3);
}