.center {
  text-align:center;
}
.text {
  border:double 1px #000000;
  max-width:600px;
}
.no_display {
  display:none;
}
#game {
  position: relative;
}
#character_pallet, #field {
  position: absolute;
}
.panel, .panel > * {
  position: absolute;
  box-sizing: border-box;
}
.cell {
  position: absolute;
  box-sizing: border-box;
}
.cell_mother {
}
.cell_collision {
  z-index: 999999999;
}
.cell_base {
  z-index: 9;
}
.cell_object {
  z-index: 99;
}
.cell_attackable {
  z-index: 999;
}

