* {
  -webkit-user-select: none;  /* Chrome or Safari */
  -moz-user-select: none;     /* FireFox */
  -ms-user-select: none;      /* IE */
  -o-user-select: none;       /* Opera */
  user-select: none;

  background-repeat:no-repeat;
  -moz-background-size:contain;
  background-size:contain;
}
body {
  overflow: hidden;
}
.center {
  text-align:center;
}
.text {
  border:double 1px #000000;
  max-width:600px;
}
input[type="range"] {
  -webkit-appearance:none;
  background: #eee;
  box-shadow: 0 0 10px #666;
  border-radius: 20px;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: #333;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
input[type="range"]::-webkit-slider-thumb:hover {
  background: #999;
}
input[type="range"]::-webkit-slider-thumb:active {
  background: #fefefe;
}
.no_display {
  display:none;
}
#game {
  position: relative;
  width: 1280px;
  height: 1000px;
}
#menu > * {
  float: left;
}
#menu, #character_pallet, #field_visible, #field, #left_info, #right_info,
#env, #levelup, #battle_result, #item, #item_character_picker, #item_equipment_editor, #item_editor {
  position: absolute;
}
#character_pallet {
  overflow-y: scroll;
  z-index: 20;
}
#levelup {
  overflow-y: scroll;
  z-index: 20;
}
#field_visible {
  z-index: 10;
  overflow: hidden;
  pointer-events: none;
}
#field {
  background-color: #000000;
  bottom: 0;
}
#character_pallet::-webkit-scrollbar {
  display: none;
}
.picked_character {
  position: absolute;
  z-index: 100;
  pointer-events: none;
}
#life {
  width: 200px;
  height: 60px;
  color: #ff0000;
  background: #ffc6ff;
  border-bottom: solid 6px #d19cd1;
  border-radius: 9px;
  font-size: 40px;
  text-align: center;
  line-height: 1.4;
}
#floor {
  width: 200px;
  height: 60px;
  color: #000000;
  background: #f4f0ba;
  border-bottom: solid 6px #ceca94;
  border-radius: 9px;
  font-size: 40px;
  text-align: center;
  line-height: 1.4;
}
#juwel {
  padding-right: 5px;
  width: 300px;
  height: 60px;
  color: #5989cf;
  background: #d6f4ba;
  border-bottom: solid 6px #b6d19c;
  border-radius: 9px;
  font-size: 40px;
  text-align: right;
  line-height: 1.4;
}
#exp {
  padding-right: 5px;
  width: 300px;
  height: 60px;
  color: #5989cf;
  background: #c6e4ff;
  border-bottom: solid 6px #aac5de;
  border-radius: 9px;
  font-size: 40px;
  text-align: right;
  line-height: 1.4;
}
#battle_result {
  background-image: url('../img/battle_result.png');
  left: 245px;
  top: 80px;
  width: 800px;
  height: 500px;
  z-index: 9999999999999999;
  background-size:cover;
}
#battle_result > .progress {
  top: 150px;
  left: 10%;
  width: 80%;
  height: 50px;
  background-color: #ff0000;
}
#battle_result > .character {
  left: 50px;
  bottom: 100px;
  width: 150px;
  height: 150px;
  background-image: url('../img/character/1/1.png');
}
#battle_result > .character_type {
  left: 200px;
  bottom: 125px;  
  width: 100px;
  height: 100px;
  background-image: url('../img/sword.png');
}
#battle_result > .enemy_type {
  right: 200px;
  bottom: 125px;
  width: 100px;
  height: 100px;
  background-image: url('../img/shield.png');
}
#battle_result > .enemy {
  right: 50px;
  bottom: 100px;
  width: 150px;
  height: 150px;
  background-image: url('../img/enemy/1/1005010301_001.png');
}
.panel {
  border: double 5px #000000;
}
.panel, .panel > *,
#exp, #life, #floor, #juwel,
.levelup_panel, .levelup_panel > *,
.levelup_controller, .levelup_controller > *,
#battle_result > *,
#item_character_picker, #item_character_picker > *,
#item_equipment_editor, #item_equipment_editor > *,
#item_editor, #item_editor > *, 
.item_editor_panel, .item_editor_panel > *, .item_editor_item > *,
.equipment_item_panel, .equipment_item_panel > *,
.item_editor_item_cost > *, .item_editor_item_count > * {
  position: absolute;
  box-sizing: border-box;
}
.levelup_range {
  top:10px;
  left:10px;
}
.levelup_level_button {
  top:70px;
  left:0px;
  background-color: #2626ef;
  color: #fff;
}
.levelup_level_button:hover {
  background-color: #59b1eb;
}
.levelup_level_button:disabled {
  background-color: #222222;
  border-color: #222222;
  color: #666666;
}
.levelup_exp_label {
  top:35px;
  left:10px;
  width:50px;
  height:30px;
  font-size: 20px;
  border: 2px double;
  text-align: center;
  vertical-align: middle;
}
.levelup_exp {
  top:35px;
  right:10px;
  width:120px;
  height:30px;
  font-size: 20px;
  text-align: right;
}
.cell {
  position: absolute;
  box-sizing: border-box;
  pointer-events: none;
}
.cell.cell_collision {
  position: absolute;
  box-sizing: border-box;
  pointer-events: auto;
}
.cell_mother {
}
.cell_collision {
  z-index: 999999999;
}
.cell_background {
  z-index: 9;
  background-size: 100% 100%;
}
.cell_object {
  z-index: 99;
}
.cell_attackable {
  z-index: 999;
}
.cell_movable {
  z-index: 9999;
  background-size: 100% 100%;
}
.cell_knockout {
  z-index: 1001;
  background-size: 100% 100%;
}
.cell_fin {
  z-index: 1000;
  background-size: 100% 100%;
}
.cell_snipe {
  z-index: 99999;
  background-size: 100% 100%;
}
.cell_animation {
  z-index: 999999;
  background-size: 100% 100%;
}
.popover {
  font-size:30px;
}
#item {
  width: 1000px;
  height: 600px;
}
#item_character_picker {
  top:0px;
  left:0px;
  width: 420px;
  height: 600px;
  overflow-y: scroll;
  overflow-x: hidden;
}
#item_equipment_editor {
  top:0px;
  left:430px;
  width: 400px;
  height: 600px;
}
.equipment_editor_section {
  top: 120px;
  left: 0px;
  width: 400px;
  height: 50px;
  background-image: url('../img/equipment.png');
}
.equipment_editor_items {
  top: 170px;
  left: 0px;
  width: 400px;
  height: 330px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.equipment_editor_cost_section {
  top:500px;
  left:0px;
  width: 100px;
  height: 100px;
  background-image: url('../img/equipment_cost.png');
}
.equipment_editor_cost_max {
  top:500px;
  left:300px;
  width: 100px;
  height: 100px;
  font-size: 70px;
}
.equipment_editor_cost_now {
  top:500px;
  left:100px;
  width: 100px;
  height: 100px;
  font-size: 70px;
}
.equipment_item_panel {
  width: 350px;
  height: 50px;
  border: 1px solid #000000;
}
.equipment_item_panel_name {
  width: 200px;
  height: 50px;
  border: 1px solid #000000;
  top: 0px;
  left: 0px;
}
.equipment_item_panel_cost {
  width: 150px;
  height: 50px;
  border: 1px solid #000000;
  top: 0px;
  right: 0px;
}
#item_editor {
  top:0px;
  left:840px;
  width: 500px;
  height: 600px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.item_editor_panel {
  width: 500px;
  height: 200px;
}
.item_editor_header {
  top: 0px;
  left: 0px;
  width: 500px;
  height: 50px;
  font-size: 30px;
}
.item_editor_item {
  top: 50px;
  width: 60px;
  height: 100px;
}
.item_editor_item_levelup {
  top: 100px;
  width: 40px;
  height: 50px;
  font-size: 25px;
}
.item_editor_item_header {
  top: 0px;
  left: 0px;
  width: 60px;
  height: 50px;
  border: 1px solid #000000;
  text-align: center;
  font-size: 30px;
}
.item_editor_item_count {
  top: 50px;
  left: 0px;
  width: 60px;
  height: 50px;
  border: 1px solid #000000;
  background-image:linear-gradient(-40deg, #82F584 50%, #fff 50%);
}
.item_editor_item_count_max {
  bottom: 0px;
  right: 0px;
  width: 30px;
  height: 25px;
  font-size: 20px;
  text-align: center;
  vertical-align: middle
}
.item_editor_item_count_now {
  top: 0px;
  left: 0px;
  width: 30px;
  height: 25px;
  font-size: 20px;
  text-align: center;
  vertical-align: middle
}
.item_editor_item_cost {
  top: 100px;
  left: 0px;
  width: 60px;
  height: 40px;
  border: 1px solid #000000;
  text-align: center;
  vertical-align: middle
}
.item_editor_item_cost_header {
  font-size: 10px;
  width: 100%;
  height: 15px;
  top: 0px;
}
.item_editor_item_cost_number {
  font-size: 18px;
  width: 100%;
  height: 25px;
  bottom: 0px;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/*スクロールバーの軌道*/
::-webkit-scrollbar-track {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, .1);
}

/*スクロールバーの動く部分*/
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 50, .5);
  border-radius: 10px;
  box-shadow:0 0 0 1px rgba(255, 255, 255, .3);
}